/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* NAVIGATION */

nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

nav ul {
  list-style: none;
  max-width: 570px;
  margin: 0 auto;
  padding: 30px 20px;
}

nav li {
  float: left;
  width: 25%;

}

nav a {
  display: block;
  width: 110px;
  margin: 0 10px;
  text-align: center;
  color: #582782;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav a:hover {
  color: white;
}

/* HEADER */

header {
  position: relative;
  background: linear-gradient(9.33deg, #FE6B83 8.5%, #9326F0 91.49%); 
  height: 445px;
  color: #fff;
  margin-bottom: 40px;
}

.slogan {
  position: absolute;
  text-align: center;
  width: 640px;
  height: 170px;
  top: 50%;
  left: 50%;
  margin-left: -320px;
  margin-top: -85px;
  /* line-height: 445px; */
}

header h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 11.6rem;
  font-weight: 700;
  /* line-height: 445px; */
}

header p {
  font-family: 'Roboto', sans-serif;
  font-size: 2.1rem;
  letter-spacing: 2px;
}

/* SECTION FEATURES */

.features {
  max-width: 1600px;
  margin: 0 auto;
}

.features div.feature {
  position: relative;
  margin: 60px 5%;
}

.features p.bg {
  position: absolute;
  top: -30px;
  left: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 247px;
  font-weight: 700;
  color: #E579D7;
  line-height: 100%;
  z-index: -1;
}

.features .feature:nth-child(2) p.bg {
  color: #FB8097;
  top: -30px;
  left: auto;
  right: 180px;
}

.features .feature:nth-child(3) p.bg {
  color: #E421B4;
}

.features div.about {
  float: left;
  width: 35%;
  margin-left: 15%;
}

.features div.feature:nth-of-type(2) .about {
  float: right;
}

.features div.image {
  float: left;
  width: 50%;
}

.features h1 {
  font-size: 27px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #5F1B98;;
  margin-bottom: 30px;
}

.features p.description {
  /* padding-right: 50px; */
  
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  line-height: 160%;
}

.features button {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #440C74;
  background-color: transparent;
  border: 1px solid #C244C1;
}

.features img {
  display: block;
  margin: 0 auto;
  width: 409px;
}

.features div.ideas {
  height: 250px;
  background-image: url("../img/fullbg.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.features div.ideas p {
  font-size: 73px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #fff;
  line-height: 250px;
  text-align: center;
}

/* SECTION CONTACT */

.contact {
  min-height: 445px;
  background: linear-gradient(13.06deg, #9326F0 8.17%, #FF7FC4 91.83%);
}

.contact div.wrap {
  margin: 0 5%;
  padding: 50px 0;
}

.contact div.hello {
  float: left;
  width: 50%;
  padding-top: 60px;
  /* padding: 0 7% 0 0; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 63px;
  color: #440C74;
}

.contact form {
  float: left;
  width: 50%;
}

.contact label {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

.contact input, .contact textarea {
  width: 100%;
  margin: 10px 0 30px;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #440C74;
}

.contact textarea {
  height: 120px;
  border: 2px solid #440C74;
}

.contact button {
  padding: 10px 50px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
}
